


img {
    max-width:10rem;
    margin: 1rem;
    border-radius: 5px;
}

.images {
    display:flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: space-between;
}
.ui.items>.item>.content {
    display:grid;
}
.ui.items>.item>.image+.content {
    display:grid;
    margin-left: 2rem;
}
/* a:hover {
    color: lightseagreen;
    text-decoration: none;
    font-family: Courier;
} */
@media only screen and (max-width: 480px) {
    .section-title{
        flex-wrap: wrap;
    }

  }
  